---
---

@import "{{ site.theme }}";

/* Change name color to black */
header h1 {
    color: black; 
}

/* Change link color to red */
a {
    color: royalblue;
}

/* Change link color on hover */
a:hover {
    color: midnightblue;
}

