---
---

@import "{{ site.theme }}";

/* Change the title color to black */
.site-title h1, .site-title h1 a {
    color: black !important;
    text-decoration: none;
}

.site-title h1 a:hover {
    color: black !important;
}

/* Change link color */
a {
    color: seagreen;
}

/* Change link color on hover */
a:hover {
    color: darkseagreen;
}


