---
---

@import "{{ site.theme }}";

/* Change name color to black */
.site-title h1 {
    color: black;

/* Change link color to red */
a {
    color: seagreen;
}

/* Change link color on hover */
a:hover {
    color: darkseagreen;
}

